.search-box{
  height: 90rpx;
  padding: 10rpx;
  background-color: var(--themeColor);
  navigator{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 16rpx;
    color:#666;
  }
  .iconfont{
    width: 32rpx;
    height: 32rpx;
    color:#666;
  }
}